body{
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#233329), to(#63D471)) fixed;
}
#preload{
  position: fixed;
  background: -webkit-gradient(linear, left top, right bottom, from(#233329), to(#63D471)) fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#preloadlogo{
  height: 140px;
  width: 140px;
  margin-top: 17%;
  margin-left: 45%;
  animation: rotation 2s infinite linear;
  background-image: url("img/logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#logo{
  position: absolute;
  height: 120px;
  width: 120px;
  background-image: url("img/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
  cursor: pointer;
}
#underlogo{
  position: absolute;
  height: 130px;
  width: 130px;
  cursor: pointer;
  user-select: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#3b7f43), to(#4fa95a)) fixed;

  border-radius: 50%;
}
#logot{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  font-size: 30px;
  color: ghostwhite;
}
#zirt{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  font-size: 40px;
  color: ghostwhite;
  display: none;
}
#zirunder{
  position: absolute;
  height: 5px;
  user-select: none;
  background-color: #2B2F5B;
  display: none;
}
.ch{
  position: absolute;
  height: 60px;
  width: 200px;
  background-color: #5a4fa9	;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  display: none;
}
.ch:hover{
  background-color: #7163d4;
}
#ch1{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  font-size: 25px;
  color: ghostwhite;
  margin-top: 15px;
  margin-left: 35px;
}
#ch2{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  font-size: 25px;
  color: ghostwhite;
  margin-top: 15px;
  margin-left: 35px;
}
